@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 2000px;
}

nav {
    padding: 30px 20px;
    height: 90px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

nav > h1{
    font-size: 40px;
}

.navbar-brand{
    margin-left: 15px;
    margin-right: 15px;
}

.nav-item a:hover{
    color: #dd2222;
    font-size: 20px;
    transition-duration: 0.5s;
}

.nav-item a:not(:hover) {
    color: #000;
    font-size: 19px;
    transition-duration: 0.5s;
}
#pizza-main{
    border-radius: 20px;
}

.heading{
    text-align: center;
    margin-top: 30px;
}

.heading-text{
    text-align: center;
    color: grey;
    cursor: pointer;
}

.heading-text:hover{
    transition-duration: 0.3s;
    color: rgb(83, 83, 83);

}

#boxx{
    position:relative;
    display:inline-block;

}

#box2{
    transform: translateY(40px);
    position: absolute;
    width:500px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    bottom:0;left:0; right:0;
    margin:auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 19px -2px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 19px -2px rgba(0,0,0,0.8);
}

#box2:hover{
    transform: scale(0.9999);
    transition-duration: 0.4s;
    cursor: pointer;
}

#box2:not(:hover){
    transform: translateY(40px);
    position: absolute;
    transition-duration: 0.5s;
    width:500px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    bottom:0;left:0; right:0;
    margin:auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 19px -2px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 19px -2px rgba(0,0,0,0.8);
}



.location{
    text-align: left;
    font-size: 12px;
    color: grey;
    margin-top: 12px;
}

#marker{
    transform: translateY(12px);
    margin-right: 5px;
}
.adresa{
    margin-left: 22px;
}

.main-heading{
    margin-top: 70px;
    text-align: center;
}

.main-text{
    text-align: left;
    color: rgb(73, 73, 73);
}

.main-bottom{
    padding: 0px 15px;
}

.fa-calendar, .fa-calendar-o{
    color: #dd2222;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    height: 300px;
    width: 0px;
    border:  none;
    border-radius: 20px;
}

#card-button{
    position: absolute;
    left: 0;
    right: 0;
    bottom:   0;
    opacity: 100%;
    background-color: #000;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#card-button:hover{
    opacity: 70%;
    height: 43px;
    transition-duration: 1s;

}


.triocards{
    margin-top: 100px;
}

.crd1,.crd2,.crd3{
    margin-bottom: 70px;
}

.crd1{
    background-image: url(src/hotdog2.jpg);
    background-size: cover;
}

.crd2{
    background-image: url(src/delivery.jpg);
    background-size: cover;
}

.crd3{
    background-image: url(src/restaurant.jpg);
    background-size: cover;
}

#card-popis{
    text-align: center;
    color: rgb(60, 60, 60);
    transform: translateY(50px);
}

.line{
    margin-top: 20px;
    background-color: rgb(160, 160, 160);
    width: 200px;
    height: 1px;
    margin:0 auto;
}

footer{
    margin-top: 200px;
    box-shadow: 0px 10px 5px rgb(238, 238, 238), 0px -10px 5px rgb(237, 237, 237);
}






::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dd2222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 40, 40);
}


.donaska{
    text-align: center;
}

.donaska-foto {
    width: 450px;
    border-radius: 20px;
}

.donaska-foto:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.donaska-foto:not(:hover) {
    width: 450px;
    border-radius: 20px;

    transition-duration: 0.5s;
}

.card:hover{
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

.card:not(:hover){

    transition-duration: 0.5s;
}

iframe{
    margin: 40px 0px;
    border-radius: 40px;
}

.gallery-photo{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .nav-top{
        height: 100px;

    }

}

@media only screen and (max-width: 408px) {

    #navbarlogo{
        font-size: 15px;
    }
    .logo{
        transform: scale(0.7);

    }
}

@media only screen and (max-width: 514px){

}